@import "tailwindcss";
@plugin "@tailwindcss/typography";
@config "../../tailwind.config.ts";

@layer base {
  body {
    font-family: "Inter", sans-serif;
    font-weight: 100 900;
    @apply antialiased text-gray-100 bg-gray-900;
    @apply px-4 py-10 max-w-3xl mx-auto sm:px-6 sm:py-12 lg:max-w-4xl lg:py-16 lg:px-8 xl:max-w-6xl;
  }
  html {
    color-scheme: dark;
  }
  main {
    @apply mb-6;
  }
  .content {
    @apply prose prose-headings:font-semibold prose-headings:tracking-tight prose-a:decoration-sky-400 prose-a:underline-offset-[4px] sm:prose-a:underline-offset-[6px] prose-a:decoration-wavy sm:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl prose-invert;
  }
}

.copy-code {
  @apply absolute cursor-pointer top-3 right-3 text-gray-400 hover:text-gray-200;
}
