/* would like to ignore ./src/pages/og-image/[slug].png.ts */
@import "tailwindcss";
/* config for tailwindcss-typography plugin */
@config "../../tailwind.config.ts";

@layer base {
  body {
		font-family: "Inter", sans-serif;
		font-weight: 400;
  }
	html {
		color-scheme: light dark;
	}
	[data-theme="light"] {
		--theme-light:initial;
		--theme-dark: ;
		color-scheme: light;
	}
	[data-theme="dark"] {
		--theme-light: ;
		--theme-dark:initial;
		color-scheme: dark;
	}
}

.prose code:not(pre code) {
  padding: 0.25em 0.4em;
  background-color: #24292e;
  border-radius: 0.3rem;
  font-weight: 400;
}

.prose code:not(pre code):before {
  content: "";
}

.prose code:not(pre code):after {
  content: "";
}

img {
  border: 1px solid #24292e;
  border-radius: 10px;
}
