---
import Base from '../layouts/Base.astro';
import { getAllPosts } from "@/data/post";
import { type CollectionEntry } from "astro:content";
import PostPreview from "@/components/PostPreview.astro";
import { collectionDateSort } from "@/utils/date";

const MAX_POSTS = 5;
const allPosts = await getAllPosts();
const allPostsByDate = allPosts
	.sort(collectionDateSort)
	.slice(0, MAX_POSTS) as CollectionEntry<"blog">[];
        console.log(allPostsByDate)
---
<Base>
  <section>
    <ul class="mb-10 text-start space-y-1 divide-y">
      {allPostsByDate.map((p) => (
        <li>
          <PostPreview post={p} />
        </li>
      ))}
    </ul>
    <div class="text-lg mb-10 content">
      <a href="/posts">
        See all posts
        <span aria-hidden="true">→</span>
      </a>
    </div>
  </section>
</Base>
