---
import Base from '../layouts/Base.astro';
import { getAllPosts } from "@/data/post";
import { type CollectionEntry } from "astro:content";
import PostPreview from "@/components/PostPreview.astro";
import { collectionDateSort } from "@/utils/date";

const MAX_POSTS = 5;
const allPosts = await getAllPosts();
const allPostsByDate = allPosts
	.sort(collectionDateSort)
	.slice(0, MAX_POSTS) as CollectionEntry<"blog">[];
---
<Base>
  <section>
    <ul class="mb-10 text-start divide-y space-y-1">
      {allPostsByDate.map((p) => (
        <li>
          <PostPreview post={p} />
        </li>
      ))}
    </ul>
    <div class="text-center text-[16px]">
      <a href="/posts" class="text-foreground/80 hover:text-foreground">
        See all posts
      </a>
    </div>
  </section>
</Base>
