---
import Container from "@components/Container.astro";
import { SITE } from "@consts";
import BackToTop from "@components/BackToTop.astro";
---

<footer class="animate">
  <Container>
    <div class="relative mt-14">
      <div class="absolute right-0 -top-16">
        <BackToTop />
      </div>
    </div>
    <div class="flex sm:flex-row flex-col gap-1 justify-between items-center text-muted-foreground">
      <div>
         {SITE.NAME} &copy; 2025
      </div>
      <div>
        <a href="https://github.com/markhorn-dev/astro-nano" target="_blank" class="hover:text-foreground">Powered by Astro Nano</a>
      </div>
    </div>
  </Container>
</footer>
