---
import { SLASH } from '../consts';
---

<header>
  <nav class="flex items-center justify-between h-14 text-white mb-10">
    <div class="flex items-center">
      <a href="/" class="text-gray-50 text-3xl font-bold underline decoration-wavy underline-offset-[6px] decoration-2">
        {SLASH}
      </a>
    </div>
  </nav>
</header>
