---
import { SLASH } from '../consts';
---

<header>
  <nav class="flex items-center justify-between h-24 text-white">
    <div class="flex items-center">
      <a href="/" class="text-white text-3xl font-bold">
        {SLASH}
      </a>
    </div>
  </nav>
</header>
