---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
---

<header>
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-between">
      <Link href="/" underline={false}>
        <div class="font-semibold">
          {SITE.NAME}
        </div>
      </Link>
        <button
          id="theme-button"
          aria-label="System theme"
          class="group size-8 flex items-center justify-center rounded-full"
        >
        </button>
    </div>
  </Container>
</header>
