---
import ThemeToggle from "@/components/ThemeToggle.astro";
import { siteConfig } from "@/site.config";
---

<header>
  <nav class="flex items-center justify-between h-14 mb-6">
    <div class="flex items-center content">
      <a href="/" class="text-foreground tracking-tighter">
        <h2 class="my-0 font-semibold">{siteConfig.title}</h2>
      </a>
    </div>
    <ThemeToggle />
  </nav>
</header>
