---
import TableOfContentsHeading from "./TableOfContentsHeading.astro";

// https://kld.dev/building-table-of-contents/
const { headings } = Astro.props;
const toc = buildToc(headings);

export interface Heading {
  depth: number;
  slug: string;
  text: string;
}

function buildToc(headings: Heading[]) {
  const toc: Heading[] = [];
  const parentHeadings = new Map();
  headings.forEach((h) => {
    const heading = { ...h, subheadings: [] };
    parentHeadings.set(heading.depth, heading);
    if (heading.depth === 2) {
      toc.push(heading);
    } else {
    parentHeadings.get(heading.depth - 1)?.subheadings.push(heading);
    }
  });
  return toc;
}
---

<div data-pagefind-ignore class="bg-accent px-4 py-3 max-w-fit rounded-md border">
  <h3 class="my-1 text-lg">Table of Contents:</h3>
  <ol class="marker:text-foreground/70 marker:font-bold">
      {toc.map((heading) => <TableOfContentsHeading heading={heading} />)}
  </ol>
</div>
