---
import TableOfContentsHeading from "./TableOfContentsHeading.astro";

// https://kld.dev/building-table-of-contents/
const { headings } = Astro.props;
const toc = buildToc(headings);

export interface Heading {
  depth: number;
  slug: string;
  text: string;
}

function buildToc(headings: Heading[]) {
  const toc: Heading[] = [];
  const parentHeadings = new Map();
  headings.forEach((h) => {
    const heading = { ...h, subheadings: [] };
    parentHeadings.set(heading.depth, heading);
    if (heading.depth === 2) {
      toc.push(heading);
    } else {
    parentHeadings.get(heading.depth - 1)?.subheadings.push(heading);
    }
  });
  return toc;
}
---
<details class="rounded-md details-content:mt-3 details-content:ml-5" open data-pagefind-ignore>
  <summary class="sm:text-lg leading-6 font-semibold select-none text-foreground">
  Table of Contents
  </summary>
  <div class="px-4 py-2 bg-accent/20 mt-3 rounded-md border">
    <ol class="marker:font-medium my-0">
        {toc.map((heading) => <TableOfContentsHeading heading={heading} />)}
    </ol>
  </div>
</details>
