---
import type { Heading } from "./TableOfContents.astro";
// https://kld.dev/building-table-of-contents/

const { heading } = Astro.props;
---

<li class="text-base">
  <a href={"#" + heading.slug}  class="break-all font-normal no-underline">
    {heading.text}
  </a>
  {
    heading.subheadings.length > 0 && (
      <ul class="">
        {heading.subheadings.map((subheading: Heading) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  }
</li>

