---
import Base from '../layouts/Base.astro';

const { title, description } = Astro.props.frontmatter;
---

<Base title={title} description={description}>
  <div class="prose prose-neutral prose-base dark:prose-invert prose-headings:tracking-tight prose-headings:font-medium max-w-none" data-pagefind-ignore>
    <h1>{title}</h1>
    <hr />
    <slot />
  </div>
</Base>
